.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.delete-form{
    display: inline;
}

/*Not needed as Bootstrap class caption does the same
.thumbnail .caption-full{
    padding: 9px;
} */